{% extends "base.html" %}

{% load static %}


{% block container %}
  <div class="main">
    <section class="module" id="team" style="padding-top: 70px">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <h2 class="module-title font-alt">Meet Our Team</h2>
            <div class="module-subtitle font-serif">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</div>
          </div>
        </div>
        <div class="row">
          <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-3" onclick="wow fadeInUp">
            <div class="team-item">
              <div class="team-image"><img src="{% static 'assets/images/team-1.jpg' %}" alt="Member Photo"/>
                <div class="team-detail">
                  <h5 class="font-alt">Hi all</h5>
                  <p class="font-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&amp;nbsp;iaculis diam.</p>
                  <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
                </div>
              </div>
              <div class="team-descr font-alt">
                <div class="team-name">Jim Stone</div>
                <div class="team-role">Art Director</div>
              </div>
            </div>
          </div>
          <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-3" onclick="wow fadeInUp">
            <div class="team-item">
              <div class="team-image"><img src="{% static 'assets/images/team-2.jpg' %}" alt="Member Photo"/>
                <div class="team-detail">
                  <h5 class="font-alt">Good day</h5>
                  <p class="font-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&amp;nbsp;iaculis diam.</p>
                  <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
                </div>
              </div>
              <div class="team-descr font-alt">
                <div class="team-name">Andy River</div>
                <div class="team-role">Creative director</div>
              </div>
            </div>
          </div>
          <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-3" onclick="wow fadeInUp">
            <div class="team-item">
              <div class="team-image"><img src="{% static 'assets/images/team-3.jpg' %}" alt="Member Photo"/>
                <div class="team-detail">
                  <h5 class="font-alt">Hello</h5>
                  <p class="font-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&amp;nbsp;iaculis diam.</p>
                  <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
                </div>
              </div>
              <div class="team-descr font-alt">
                <div class="team-name">Adele Snow</div>
                <div class="team-role">Account manager</div>
              </div>
            </div>
          </div>
          <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-3" onclick="wow fadeInUp">
            <div class="team-item">
              <div class="team-image"><img src="{% static 'assets/images/team-4.jpg' %}" alt="Member Photo"/>
                <div class="team-detail">
                  <h5 class="font-alt">Yes, it's me</h5>
                  <p class="font-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&amp;nbsp;iaculis diam.</p>
                  <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
                </div>
              </div>
              <div class="team-descr font-alt">
                <div class="team-name">Dylan Woods</div>
                <div class="team-role">Developer</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="module bg-dark-60" data-background="assets/images/section-6.jpg">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="video-box">
              <div class="video-box-icon"><a class="video-pop-up" href="https://www.youtube.com/watch?v=TTxZj3DZiIM"><span class="icon-video"></span></a></div>
              <div class="video-title font-alt">Presentation</div>
              <div class="video-subtitle font-alt">Watch the video about our new products</div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
        <!--
    JavaScripts
    =============================================
    -->
    <script src="assets/lib/jquery/dist/jquery.js"></script>
    <script src="assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="assets/lib/wow/dist/wow.js"></script>
    <script src="assets/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
    <script src="assets/lib/isotope/dist/isotope.pkgd.js"></script>
    <script src="assets/lib/imagesloaded/imagesloaded.pkgd.js"></script>
    <script src="assets/lib/flexslider/jquery.flexslider.js"></script>
    <script src="assets/lib/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="assets/lib/smoothscroll.js"></script>
    <script src="assets/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
    <script src="assets/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script>
{% endblock %}