{% load static thumbnail%}

{% block container %}
    {% if user.is_authenticated %}
    <div class="comment-form mt-30">
      <h4 class="comment-form-title font-alt">Agregar un Comentario</h4>
      <form method="post">
      {% csrf_token %}
      {{ form }}
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label class="sr-only" for="name">Nombre</label>
              <input class="form-control" id="name" type="text" name="name" placeholder="Name"/>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="sr-only" for="email">Apellido</label>
              <input class="form-control" id="email" type="text" name="email" placeholder="Apellido"/>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="sr-only" for="email">E-mail</label>
              <input class="form-control" id="email" type="text" name="email" placeholder="E-mail"/>
            </div>
          </div>
          {% comment %}
          <div class="col-sm-4">
            <div class="form-group">
              <select class="form-control">
                <option selected="true" disabled="">Rating</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
          </div>
          {% endcomment %}
          <div class="col-sm-12">
            <div class="form-group">
              <textarea class="form-control" id="" name="" rows="4" placeholder="Comentario"></textarea>
            </div>
          </div>
          <div class="col-sm-12">
            <button class="btn btn-round btn-d" type="submit">Agregar Comentario</button>
          </div>
        </div>
      </form>
    </div>
    {% endif %}
{% endblock %}