{% extends "mini_index.html" %}
{% load static thumbnail %}

{% block container %}

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


{% endblock %}

<!--
JavaScripts
=============================================
-->
<script src="{% static 'assets/lib/jquery/dist/jquery.js' %}"></script>
<script src="{% static 'assets/lib/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/lib/wow/dist/wow.js' %}"></script>
<script src="{% static 'assets/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js' %}"></script>
<script src="{% static 'assets/lib/isotope/dist/isotope.pkgd.js' %}"></script>
<script src="{% static 'assets/lib/imagesloaded/imagesloaded.pkgd.js' %}"></script>
<script src="{% static 'assets/lib/flexslider/jquery.flexslider.js' %}"></script>
<script src="{% static 'assets/lib/owl.carousel/dist/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/lib/smoothscroll.js' %}"></script>
<script src="{% static 'assets/lib/magnific-popup/dist/jquery.magnific-popup.js' %}"></script>
<script src="{% static 'assets/lib/simple-text-rotator/jquery.simple-text-rotator.min.js' %}"></script>
<script src="{% static 'assets/js/plugins.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
