{% extends "index_shop.html" %}

{% load static thumbnail %}


{% block container %}
  <div class="main">
    <section class="module">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <h1 class="module-title font-alt">CARRITO</h1>
          </div>
        </div>
        <hr class="divider-w pt-20">
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-striped table-border checkout-table">
              <tbody>
                <tr>
                  <th class="hidden-xs">Item</th>
                  <th>Descripción</th>
                  <th class="hidden-xs">Precio</th>
                  <th>Cantidad</th>
                  <th>Subtotal</th>
                  <th>Quitar</th>
                </tr>

                {% for linea_pedido in lineas_pedido %}
                <tr>
                  <td class="hidden-xs">
                      <a href="#">
                        {% thumbnail linea_pedido.producto_talle.producto.imagen_principal "54x61" crop="center" quality=95 as im %}
                            <img src="{{ im.url }}" alt="Accessories Pack"/>
                        {% endthumbnail %}
                      </a>
                  </td>
                  <td>
                    <h5 class="product-title font-alt">{{ linea_pedido.producto_talle.producto.titulo }}</h5>
                  </td>
                  <td class="hidden-xs">
                    <h5 class="product-title font-alt">${{ linea_pedido.producto_talle.producto.precio }}</h5>
                  </td>
                  <td>
                    <h5 class="product-title font-alt">{{ linea_pedido.cantidad }}</h5>
                  </td>
                  <td>
                    <h5 class="product-title font-alt">${% widthratio linea_pedido.producto_talle.producto.precio 1 linea_pedido.cantidad %}</h5>
                  </td>
                  <td class="pr-remove"><a href="#" title="Remove"><i class="fa fa-times"></i></a></td>
                </tr>
                {% endfor %}

                {% comment %}
                <tr>
                  <td class="hidden-xs"><a href="#"><img src="{% static 'assets/images/shop/product-13.jpg' %}" alt="Men’s Casual Pack"/></a></td>
                  <td>
                    <h5 class="product-title font-alt">Men’s Casual Pack</h5>
                  </td>
                  <td class="hidden-xs">
                    <h5 class="product-title font-alt">£20.00</h5>
                  </td>
                  <td>
                    <input class="form-control" type="number" name="" value="1" max="50" min="1"/>
                  </td>
                  <td>
                    <h5 class="product-title font-alt">£20.00</h5>
                  </td>
                  <td class="pr-remove"><a href="#" title="Remove"><i class="fa fa-times"></i></a></td>
                </tr>
                {% endcomment %}

              </tbody>
            </table>
          </div>
        </div>
        <br>
        <hr class="divider-w">
        <div class="row mt-70">
          <div class="col-sm-5 col-sm-offset-7">
            <div class="shop-Cart-totalbox">
              <h4 class="font-alt">Total a pagar</h4>
              <table class="table table-striped table-border checkout-table">
                <tbody>
                  <tr class="shop-Cart-totalprice">
                    <th>Total :</th>
                    <td>
                        <h5 class="product-title font-alt" style="text-align: end; margin: 0px;">${{ total }}</h5>
                    </td>

                  </tr>
                </tbody>
              </table>
              <button class="btn btn-lg btn-block btn-round btn-d" type="submit">Pagar</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
{% endblock %}